-- CreateEnum
CREATE TYPE "VehicleSourceCode" AS ENUM ('OPEN_VEHICLE_DB', 'AUTOMOBILE_MODELS_SPECS', 'CAR_API', 'EPA_VEHICLES', 'MANUAL');

-- CreateEnum
CREATE TYPE "VehicleImportStatus" AS ENUM ('PENDING', 'RUNNING', 'COMPLETED', 'FAILED', 'DRY_RUN');

-- CreateEnum
CREATE TYPE "VehicleCatalogEntityType" AS ENUM ('BRAND', 'MODEL', 'GENERATION', 'BODY_TYPE', 'FUEL_TYPE', 'ENGINE', 'TRANSMISSION', 'DRIVE_TYPE', 'MODIFICATION', 'TRIM');

-- CreateEnum
CREATE TYPE "VehicleConfidence" AS ENUM ('HIGH', 'MEDIUM', 'LOW');

-- CreateEnum
CREATE TYPE "VehicleSteeringSide" AS ENUM ('LEFT', 'RIGHT', 'UNKNOWN');

-- AlterTable
ALTER TABLE "SaleListing" ADD COLUMN     "catalogBodyTypeId" TEXT,
ADD COLUMN     "catalogBrandId" TEXT,
ADD COLUMN     "catalogDriveTypeId" TEXT,
ADD COLUMN     "catalogEngineId" TEXT,
ADD COLUMN     "catalogFuelTypeId" TEXT,
ADD COLUMN     "catalogGenerationId" TEXT,
ADD COLUMN     "catalogModelId" TEXT,
ADD COLUMN     "catalogModificationId" TEXT,
ADD COLUMN     "catalogTransmissionId" TEXT,
ADD COLUMN     "catalogTrimId" TEXT;

-- CreateTable
CREATE TABLE "VehicleCatalogSource" (
    "id" TEXT NOT NULL,
    "code" "VehicleSourceCode" NOT NULL,
    "name" TEXT NOT NULL,
    "market" TEXT,
    "priority" INTEGER NOT NULL DEFAULT 100,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "VehicleCatalogSource_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "VehicleCatalogImportRun" (
    "id" TEXT NOT NULL,
    "sourceId" TEXT NOT NULL,
    "mode" TEXT NOT NULL,
    "status" "VehicleImportStatus" NOT NULL DEFAULT 'PENDING',
    "stats" JSONB,
    "error" TEXT,
    "startedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "finishedAt" TIMESTAMP(3),

    CONSTRAINT "VehicleCatalogImportRun_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "VehicleCatalogRawRecord" (
    "id" TEXT NOT NULL,
    "importRunId" TEXT NOT NULL,
    "sourceId" TEXT NOT NULL,
    "recordType" TEXT NOT NULL,
    "externalId" TEXT NOT NULL,
    "checksum" TEXT NOT NULL,
    "brandName" TEXT,
    "modelName" TEXT,
    "productionStartYear" INTEGER,
    "productionEndYear" INTEGER,
    "payload" JSONB NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "VehicleCatalogRawRecord_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "VehicleBrand" (
    "id" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "normalizedName" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "nameRu" TEXT,
    "nameOriginal" TEXT,
    "market" TEXT,
    "lowConfidence" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "VehicleBrand_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "VehicleBrandAlias" (
    "id" TEXT NOT NULL,
    "brandId" TEXT NOT NULL,
    "alias" TEXT NOT NULL,
    "normalizedAlias" TEXT NOT NULL,
    "language" TEXT,
    "isPrimary" BOOLEAN NOT NULL DEFAULT false,
    "market" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "VehicleBrandAlias_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "VehicleModel" (
    "id" TEXT NOT NULL,
    "brandId" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "normalizedName" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "nameRu" TEXT,
    "nameOriginal" TEXT,
    "productionStartYear" INTEGER,
    "productionEndYear" INTEGER,
    "market" TEXT,
    "lowConfidence" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "VehicleModel_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "VehicleModelAlias" (
    "id" TEXT NOT NULL,
    "modelId" TEXT NOT NULL,
    "alias" TEXT NOT NULL,
    "normalizedAlias" TEXT NOT NULL,
    "language" TEXT,
    "isPrimary" BOOLEAN NOT NULL DEFAULT false,
    "market" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "VehicleModelAlias_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "VehicleBodyType" (
    "id" TEXT NOT NULL,
    "code" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "label" TEXT NOT NULL,
    "labelRu" TEXT NOT NULL,
    "labelEn" TEXT,
    "sortOrder" INTEGER NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "VehicleBodyType_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "VehicleFuelType" (
    "id" TEXT NOT NULL,
    "code" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "label" TEXT NOT NULL,
    "labelRu" TEXT NOT NULL,
    "labelEn" TEXT,
    "sortOrder" INTEGER NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "VehicleFuelType_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "VehicleTransmission" (
    "id" TEXT NOT NULL,
    "code" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "label" TEXT NOT NULL,
    "labelRu" TEXT NOT NULL,
    "labelEn" TEXT,
    "transmissionType" TEXT,
    "gears" INTEGER,
    "sortOrder" INTEGER NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "VehicleTransmission_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "VehicleDriveType" (
    "id" TEXT NOT NULL,
    "code" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "label" TEXT NOT NULL,
    "labelRu" TEXT NOT NULL,
    "labelEn" TEXT,
    "sortOrder" INTEGER NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "VehicleDriveType_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "VehicleGeneration" (
    "id" TEXT NOT NULL,
    "modelId" TEXT NOT NULL,
    "bodyTypeId" TEXT,
    "slug" TEXT NOT NULL,
    "label" TEXT NOT NULL,
    "labelRu" TEXT NOT NULL,
    "generationName" TEXT,
    "generationCode" TEXT,
    "restylingLabel" TEXT,
    "isRestyling" BOOLEAN NOT NULL DEFAULT false,
    "productionStartYear" INTEGER,
    "productionEndYear" INTEGER,
    "steeringSide" "VehicleSteeringSide" NOT NULL DEFAULT 'UNKNOWN',
    "market" TEXT,
    "lowConfidence" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "VehicleGeneration_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "VehicleEngine" (
    "id" TEXT NOT NULL,
    "fuelTypeId" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "label" TEXT NOT NULL,
    "displacementCc" INTEGER,
    "displacementL" DOUBLE PRECISION,
    "powerHp" INTEGER,
    "cylinders" TEXT,
    "engineCode" TEXT,
    "aspiration" TEXT,
    "layout" TEXT,
    "evMotor" TEXT,
    "market" TEXT,
    "lowConfidence" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "VehicleEngine_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "VehicleTrim" (
    "id" TEXT NOT NULL,
    "modelId" TEXT,
    "slug" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "nameRu" TEXT,
    "market" TEXT,
    "lowConfidence" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "VehicleTrim_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "VehicleModification" (
    "id" TEXT NOT NULL,
    "generationId" TEXT NOT NULL,
    "bodyTypeId" TEXT NOT NULL,
    "engineId" TEXT,
    "transmissionId" TEXT,
    "driveTypeId" TEXT,
    "trimId" TEXT,
    "slug" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "label" TEXT NOT NULL,
    "productionStartYear" INTEGER,
    "productionEndYear" INTEGER,
    "doors" INTEGER,
    "seats" INTEGER,
    "powerHp" INTEGER,
    "engineVolumeL" DOUBLE PRECISION,
    "steeringSide" "VehicleSteeringSide" NOT NULL DEFAULT 'UNKNOWN',
    "market" TEXT,
    "lowConfidence" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "VehicleModification_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "VehicleSourceMapping" (
    "id" TEXT NOT NULL,
    "sourceId" TEXT NOT NULL,
    "entityType" "VehicleCatalogEntityType" NOT NULL,
    "entityId" TEXT NOT NULL,
    "externalId" TEXT NOT NULL,
    "externalParentId" TEXT,
    "sourceLabel" TEXT,
    "confidence" "VehicleConfidence" NOT NULL DEFAULT 'HIGH',
    "payload" JSONB,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "VehicleSourceMapping_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "VehicleCatalogSource_code_key" ON "VehicleCatalogSource"("code");

-- CreateIndex
CREATE INDEX "VehicleCatalogImportRun_sourceId_startedAt_idx" ON "VehicleCatalogImportRun"("sourceId", "startedAt" DESC);

-- CreateIndex
CREATE INDEX "VehicleCatalogImportRun_status_startedAt_idx" ON "VehicleCatalogImportRun"("status", "startedAt" DESC);

-- CreateIndex
CREATE INDEX "VehicleCatalogRawRecord_importRunId_recordType_idx" ON "VehicleCatalogRawRecord"("importRunId", "recordType");

-- CreateIndex
CREATE INDEX "VehicleCatalogRawRecord_sourceId_recordType_idx" ON "VehicleCatalogRawRecord"("sourceId", "recordType");

-- CreateIndex
CREATE INDEX "VehicleCatalogRawRecord_brandName_modelName_idx" ON "VehicleCatalogRawRecord"("brandName", "modelName");

-- CreateIndex
CREATE UNIQUE INDEX "VehicleCatalogRawRecord_sourceId_recordType_externalId_chec_key" ON "VehicleCatalogRawRecord"("sourceId", "recordType", "externalId", "checksum");

-- CreateIndex
CREATE UNIQUE INDEX "VehicleBrand_slug_key" ON "VehicleBrand"("slug");

-- CreateIndex
CREATE UNIQUE INDEX "VehicleBrand_normalizedName_key" ON "VehicleBrand"("normalizedName");

-- CreateIndex
CREATE INDEX "VehicleBrandAlias_normalizedAlias_idx" ON "VehicleBrandAlias"("normalizedAlias");

-- CreateIndex
CREATE UNIQUE INDEX "VehicleBrandAlias_brandId_normalizedAlias_key" ON "VehicleBrandAlias"("brandId", "normalizedAlias");

-- CreateIndex
CREATE INDEX "VehicleModel_brandId_normalizedName_idx" ON "VehicleModel"("brandId", "normalizedName");

-- CreateIndex
CREATE UNIQUE INDEX "VehicleModel_brandId_slug_key" ON "VehicleModel"("brandId", "slug");

-- CreateIndex
CREATE INDEX "VehicleModelAlias_normalizedAlias_idx" ON "VehicleModelAlias"("normalizedAlias");

-- CreateIndex
CREATE UNIQUE INDEX "VehicleModelAlias_modelId_normalizedAlias_key" ON "VehicleModelAlias"("modelId", "normalizedAlias");

-- CreateIndex
CREATE UNIQUE INDEX "VehicleBodyType_code_key" ON "VehicleBodyType"("code");

-- CreateIndex
CREATE UNIQUE INDEX "VehicleBodyType_slug_key" ON "VehicleBodyType"("slug");

-- CreateIndex
CREATE UNIQUE INDEX "VehicleFuelType_code_key" ON "VehicleFuelType"("code");

-- CreateIndex
CREATE UNIQUE INDEX "VehicleFuelType_slug_key" ON "VehicleFuelType"("slug");

-- CreateIndex
CREATE UNIQUE INDEX "VehicleTransmission_code_key" ON "VehicleTransmission"("code");

-- CreateIndex
CREATE UNIQUE INDEX "VehicleTransmission_slug_key" ON "VehicleTransmission"("slug");

-- CreateIndex
CREATE UNIQUE INDEX "VehicleDriveType_code_key" ON "VehicleDriveType"("code");

-- CreateIndex
CREATE UNIQUE INDEX "VehicleDriveType_slug_key" ON "VehicleDriveType"("slug");

-- CreateIndex
CREATE INDEX "VehicleGeneration_modelId_productionStartYear_productionEnd_idx" ON "VehicleGeneration"("modelId", "productionStartYear", "productionEndYear");

-- CreateIndex
CREATE INDEX "VehicleGeneration_bodyTypeId_productionStartYear_production_idx" ON "VehicleGeneration"("bodyTypeId", "productionStartYear", "productionEndYear");

-- CreateIndex
CREATE UNIQUE INDEX "VehicleGeneration_modelId_slug_key" ON "VehicleGeneration"("modelId", "slug");

-- CreateIndex
CREATE UNIQUE INDEX "VehicleEngine_slug_key" ON "VehicleEngine"("slug");

-- CreateIndex
CREATE INDEX "VehicleEngine_fuelTypeId_displacementL_powerHp_idx" ON "VehicleEngine"("fuelTypeId", "displacementL", "powerHp");

-- CreateIndex
CREATE UNIQUE INDEX "VehicleTrim_slug_key" ON "VehicleTrim"("slug");

-- CreateIndex
CREATE INDEX "VehicleTrim_modelId_name_idx" ON "VehicleTrim"("modelId", "name");

-- CreateIndex
CREATE UNIQUE INDEX "VehicleModification_slug_key" ON "VehicleModification"("slug");

-- CreateIndex
CREATE INDEX "VehicleModification_generationId_bodyTypeId_productionStart_idx" ON "VehicleModification"("generationId", "bodyTypeId", "productionStartYear", "productionEndYear");

-- CreateIndex
CREATE INDEX "VehicleModification_generationId_engineId_driveTypeId_trans_idx" ON "VehicleModification"("generationId", "engineId", "driveTypeId", "transmissionId");

-- CreateIndex
CREATE INDEX "VehicleModification_bodyTypeId_engineId_driveTypeId_transmi_idx" ON "VehicleModification"("bodyTypeId", "engineId", "driveTypeId", "transmissionId");

-- CreateIndex
CREATE INDEX "VehicleSourceMapping_entityType_entityId_idx" ON "VehicleSourceMapping"("entityType", "entityId");

-- CreateIndex
CREATE UNIQUE INDEX "VehicleSourceMapping_sourceId_entityType_externalId_key" ON "VehicleSourceMapping"("sourceId", "entityType", "externalId");

-- CreateIndex
CREATE INDEX "SaleListing_catalogBrandId_catalogModelId_year_idx" ON "SaleListing"("catalogBrandId", "catalogModelId", "year");

-- CreateIndex
CREATE INDEX "SaleListing_catalogGenerationId_catalogModificationId_idx" ON "SaleListing"("catalogGenerationId", "catalogModificationId");

-- AddForeignKey
ALTER TABLE "VehicleCatalogImportRun" ADD CONSTRAINT "VehicleCatalogImportRun_sourceId_fkey" FOREIGN KEY ("sourceId") REFERENCES "VehicleCatalogSource"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "VehicleCatalogRawRecord" ADD CONSTRAINT "VehicleCatalogRawRecord_importRunId_fkey" FOREIGN KEY ("importRunId") REFERENCES "VehicleCatalogImportRun"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "VehicleCatalogRawRecord" ADD CONSTRAINT "VehicleCatalogRawRecord_sourceId_fkey" FOREIGN KEY ("sourceId") REFERENCES "VehicleCatalogSource"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "VehicleBrandAlias" ADD CONSTRAINT "VehicleBrandAlias_brandId_fkey" FOREIGN KEY ("brandId") REFERENCES "VehicleBrand"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "VehicleModel" ADD CONSTRAINT "VehicleModel_brandId_fkey" FOREIGN KEY ("brandId") REFERENCES "VehicleBrand"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "VehicleModelAlias" ADD CONSTRAINT "VehicleModelAlias_modelId_fkey" FOREIGN KEY ("modelId") REFERENCES "VehicleModel"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "VehicleGeneration" ADD CONSTRAINT "VehicleGeneration_modelId_fkey" FOREIGN KEY ("modelId") REFERENCES "VehicleModel"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "VehicleGeneration" ADD CONSTRAINT "VehicleGeneration_bodyTypeId_fkey" FOREIGN KEY ("bodyTypeId") REFERENCES "VehicleBodyType"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "VehicleEngine" ADD CONSTRAINT "VehicleEngine_fuelTypeId_fkey" FOREIGN KEY ("fuelTypeId") REFERENCES "VehicleFuelType"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "VehicleTrim" ADD CONSTRAINT "VehicleTrim_modelId_fkey" FOREIGN KEY ("modelId") REFERENCES "VehicleModel"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "VehicleModification" ADD CONSTRAINT "VehicleModification_generationId_fkey" FOREIGN KEY ("generationId") REFERENCES "VehicleGeneration"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "VehicleModification" ADD CONSTRAINT "VehicleModification_bodyTypeId_fkey" FOREIGN KEY ("bodyTypeId") REFERENCES "VehicleBodyType"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "VehicleModification" ADD CONSTRAINT "VehicleModification_engineId_fkey" FOREIGN KEY ("engineId") REFERENCES "VehicleEngine"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "VehicleModification" ADD CONSTRAINT "VehicleModification_transmissionId_fkey" FOREIGN KEY ("transmissionId") REFERENCES "VehicleTransmission"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "VehicleModification" ADD CONSTRAINT "VehicleModification_driveTypeId_fkey" FOREIGN KEY ("driveTypeId") REFERENCES "VehicleDriveType"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "VehicleModification" ADD CONSTRAINT "VehicleModification_trimId_fkey" FOREIGN KEY ("trimId") REFERENCES "VehicleTrim"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "VehicleSourceMapping" ADD CONSTRAINT "VehicleSourceMapping_sourceId_fkey" FOREIGN KEY ("sourceId") REFERENCES "VehicleCatalogSource"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SaleListing" ADD CONSTRAINT "SaleListing_catalogBrandId_fkey" FOREIGN KEY ("catalogBrandId") REFERENCES "VehicleBrand"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SaleListing" ADD CONSTRAINT "SaleListing_catalogModelId_fkey" FOREIGN KEY ("catalogModelId") REFERENCES "VehicleModel"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SaleListing" ADD CONSTRAINT "SaleListing_catalogGenerationId_fkey" FOREIGN KEY ("catalogGenerationId") REFERENCES "VehicleGeneration"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SaleListing" ADD CONSTRAINT "SaleListing_catalogBodyTypeId_fkey" FOREIGN KEY ("catalogBodyTypeId") REFERENCES "VehicleBodyType"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SaleListing" ADD CONSTRAINT "SaleListing_catalogFuelTypeId_fkey" FOREIGN KEY ("catalogFuelTypeId") REFERENCES "VehicleFuelType"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SaleListing" ADD CONSTRAINT "SaleListing_catalogEngineId_fkey" FOREIGN KEY ("catalogEngineId") REFERENCES "VehicleEngine"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SaleListing" ADD CONSTRAINT "SaleListing_catalogTransmissionId_fkey" FOREIGN KEY ("catalogTransmissionId") REFERENCES "VehicleTransmission"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SaleListing" ADD CONSTRAINT "SaleListing_catalogDriveTypeId_fkey" FOREIGN KEY ("catalogDriveTypeId") REFERENCES "VehicleDriveType"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SaleListing" ADD CONSTRAINT "SaleListing_catalogModificationId_fkey" FOREIGN KEY ("catalogModificationId") REFERENCES "VehicleModification"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SaleListing" ADD CONSTRAINT "SaleListing_catalogTrimId_fkey" FOREIGN KEY ("catalogTrimId") REFERENCES "VehicleTrim"("id") ON DELETE SET NULL ON UPDATE CASCADE;

